<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PicView.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <PicView.Properties.Settings>
            <setting name="ColorTheme" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Blue" serializeAs="String">
                <value>#FF0461B1</value>
            </setting>
            <setting name="Pink" serializeAs="String">
                <value>#FFE68BEE</value>
            </setting>
            <setting name="Orange" serializeAs="String">
                <value>#FFDB5B3D</value>
            </setting>
            <setting name="Green" serializeAs="String">
                <value>#FF0EB24C</value>
            </setting>
            <setting name="Red" serializeAs="String">
                <value>#FFF91110</value>
            </setting>
            <setting name="GreenMouse" serializeAs="String">
                <value>#F20D8039</value>
            </setting>
            <setting name="PinkMouse" serializeAs="String">
                <value>#F2F19DFA</value>
            </setting>
            <setting name="RedMouse" serializeAs="String">
                <value>#FFF35353</value>
            </setting>
            <setting name="BlueMouse" serializeAs="String">
                <value>#F200ADEE</value>
            </setting>
            <setting name="OrangeMouse" serializeAs="String">
                <value>#E2FF6441</value>
            </setting>
            <setting name="TealMouse" serializeAs="String">
                <value>#F2008080</value>
            </setting>
            <setting name="Aqua" serializeAs="String">
                <value>#FF36E6CC</value>
            </setting>
            <setting name="AquaMouse" serializeAs="String">
                <value>#F209A68E</value>
            </setting>
            <setting name="Beige" serializeAs="String">
                <value>#FFE2C290</value>
            </setting>
            <setting name="BeigeMouse" serializeAs="String">
                <value>#F2E2C290</value>
            </setting>
            <setting name="Teal" serializeAs="String">
                <value>#FF931AF7</value>
            </setting>
            <setting name="Purple" serializeAs="String">
                <value>#FFD40FD4</value>
            </setting>
            <setting name="PurpleMouse" serializeAs="String">
                <value>#E29E46E9</value>
            </setting>
            <setting name="Cyan" serializeAs="String">
                <value>#FF1BA1E2</value>
            </setting>
            <setting name="CyanMouse" serializeAs="String">
                <value>#F236BBFF</value>
            </setting>
            <setting name="Grey" serializeAs="String">
                <value>#FF5F5449</value>
            </setting>
            <setting name="GreyMouse" serializeAs="String">
                <value>#F25F5449</value>
            </setting>
            <setting name="CallUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Magenta" serializeAs="String">
                <value>#FFFF35C5</value>
            </setting>
            <setting name="MagentaMouse" serializeAs="String">
                <value>#E2FF55C8</value>
            </setting>
            <setting name="ScrollEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowInterface" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SortPreference" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PicGallery" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Slidetimeren" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="Looping" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowBorderColorEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BgColorWhite" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FitToWindow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Maximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Fullscreen" serializeAs="String">
                <value>False</value>
            </setting>
        </PicView.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.5.0" newVersion="4.1.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
