<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PicView.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PicView.Properties.Settings>
            <setting name="CallUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ScrollEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowInterface" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SortPreference" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FullscreenGalleryHorizontal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SlideTimer" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="Looping" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BgColorChoice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoFitWindow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FillImage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Fullscreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IncludeSubDirectories" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DarkTheme" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserLanguage" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="ShowAltInterfaceButtons" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ColorTheme" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ZoomSpeed" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="TopMost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KeepCentered" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CtrlZoom" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Maximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Ascending" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HorizontalReverseScroll" serializeAs="String">
                <value>True</value>
            </setting>
        </PicView.Properties.Settings>
    </userSettings>
</configuration>