<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PicView.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PicView.Properties.Settings>
            <setting name="ColorTheme" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="Blue" serializeAs="String">
                <value>#FF0461B1</value>
            </setting>
            <setting name="Pink" serializeAs="String">
                <value>#FFE68BEE</value>
            </setting>
            <setting name="Orange" serializeAs="String">
                <value>#FFDB5B3D</value>
            </setting>
            <setting name="Green" serializeAs="String">
                <value>#FF0EB24C</value>
            </setting>
            <setting name="Red" serializeAs="String">
                <value>#FFF91110</value>
            </setting>
            <setting name="Aqua" serializeAs="String">
                <value>#FF36E6CC</value>
            </setting>
            <setting name="Golden" serializeAs="String">
                <value>#FFFEA955</value>
            </setting>
            <setting name="Teal" serializeAs="String">
                <value>#FF44A1A0</value>
            </setting>
            <setting name="Purple" serializeAs="String">
                <value>#FF9738EB</value>
            </setting>
            <setting name="Cyan" serializeAs="String">
                <value>#FF1BA1E2</value>
            </setting>
            <setting name="Lime" serializeAs="String">
                <value>#FF22CB97</value>
            </setting>
            <setting name="CallUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Magenta" serializeAs="String">
                <value>#FFFF35C5</value>
            </setting>
            <setting name="ScrollEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowInterface" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SortPreference" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PicGallery" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SlideTimer" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="Looping" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowBorderColorEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BgColorChoice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoFitWindow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FillImage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Fullscreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GreenAlpha" serializeAs="String">
                <value>#F20D8039</value>
            </setting>
            <setting name="PinkAlpha" serializeAs="String">
                <value>#F2FF86DB</value>
            </setting>
            <setting name="RedAlpha" serializeAs="String">
                <value>#F2F35353</value>
            </setting>
            <setting name="BlueAlpha" serializeAs="String">
                <value>#F200ADEE</value>
            </setting>
            <setting name="OrangeAlpha" serializeAs="String">
                <value>#F2FF6441</value>
            </setting>
            <setting name="TealAlpha" serializeAs="String">
                <value>#F21FAE98</value>
            </setting>
            <setting name="AquaAlpha" serializeAs="String">
                <value>#F209A68E</value>
            </setting>
            <setting name="GoldenAlpha" serializeAs="String">
                <value>#F2FEA955</value>
            </setting>
            <setting name="PurpleAlpha" serializeAs="String">
                <value>#F2A953F5</value>
            </setting>
            <setting name="CyanAlpha" serializeAs="String">
                <value>#F259BAE9</value>
            </setting>
            <setting name="LimeAlpha" serializeAs="String">
                <value>#F222CB97</value>
            </setting>
            <setting name="MagentaAlpha" serializeAs="String">
                <value>#F2FF6CD4</value>
            </setting>
            <setting name="IncludeSubDirectories" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DarkTheme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserLanguage" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="ShowAltInterfaceButtons" serializeAs="String">
                <value>True</value>
            </setting>
        </PicView.Properties.Settings>
    </userSettings>
</configuration>